.homework-component .main {
    background-color: #282c34;
    min-height : 100vh ;
    width: 100%;
    z-index: 1;
    border-top: red ;
    border-width: 20px;
    
}

.homework-component .card-animation {
    animation-name : main , fadeIn;
    animation-duration : 2s , 2s;
    animation-delay: 0s , 2s;
    animation-direction: normal, alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: 1 , infinite;
    
}

.homework-component .card-header-animation {
    animation-name : header;
    animation-duration : 2s ;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0%{box-shadow: 0 0 10px 5px gray; z-index: 1; perspective: 100px;}
    50%{box-shadow: 0 0 25px 5px gray; z-index: 2; perspective: 200px;}
    100%{box-shadow: 0 0 40px 5px gray; z-index: 3; perspective: 300px;}
}

@keyframes header {
    0%{top:-1000px ;}
    100%{top:0px;}
}

@keyframes main  {
    0%{top:-1000px ;}
    100%{top:0px;}
}

.homework-component .wrapper{
    z-index: 3;
    border-top: 10px rebeccapurple;
    background-color: rgb(241, 225, 194);
    padding-left: 2px;
    padding-top: 2px;
    margin-left: 10px;
    padding-right: 2px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 ;
}

.homework-component .head {
    background-color: #12475f;
    color: white;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.homework-component .text {
    text-align: justify;
    text-decoration: none;
    line-height: 25px;
    text-indent: 20px;
}

.homework-component .input {
    border-top: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
}

.homework-component .wrapper p::first-letter {
    font-size: 2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.homework-component .loading {
    width: 55px;
    height: 36px;
    margin-left: 10px;
    position: relative;
}

.homework-component .loading div {
    float: left;
    width: 10px;
    height: 20px;
    top: 8px;
    position: absolute;
    background-color: red;
    animation-name: loading-divs;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}

.homework-component .loading div:nth-child(1){
    top: 8px;
    left: 2px;
    animation-delay: 0s;
}

.homework-component .loading div:nth-child(2) {
    background-color: black;
    top: 8px;
    left: 14px;
    height: 20px;
    animation-delay: 0.2s;
}

.homework-component .loading div:nth-child(3){
    left: 27px;
    animation-delay: 0.4s;
}

@keyframes loading-divs {
    0%{
        top: -4px;
        height: 40px;
    }
    50%, 100%{
        top:8px;
        height: 20px;    
    }
} 