


.home-component .container-made {
    min-height: 100vh;
    min-width: 100%;
    background-image: linear-gradient(to bottom, #ff1a1a 5% , #000000 50% , white);
}

.home-component .text-wrapper{
    max-width: 1100px;
    min-width: 300px ;
    height: 300px;
    padding-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.home-component .text {
    text-align: center;
    display: block;
    cursor: default;
    font-size: 800%;
    font-style: italic;
    font-weight: bold;
    text-shadow: -15px 15px 2px red;
    color : gray;
    animation-name: box;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
}


@keyframes box {
    0%{text-shadow: -15px 15px 2px red;}
    50%{text-shadow: 0  0  0 black;}
    100%{text-shadow: 15px 15px 2px blue;}
}

.home-component .right-link {
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    color: gray;
    box-shadow: -10px -1px 10px blue;
    padding-right: 20px;
    padding-left: 10px;
    animation-name: right-box;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes right-box {
    0%{box-shadow: -10px 5px 10px blue;}
    50%{box-shadow: -15px -2px 10 blue;}
    100%{box-shadow: -20px -5px 10px blue}
}

.home-component .left-link{
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    color: gray;
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: 10px -1px 10px red;
    animation-name: left-box;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes left-box {
    0%{box-shadow: 10px 5px 10px red;}
    50%{box-shadow: 15px -2px 10 red;}
    100%{box-shadow: 20px -5px 10px red}
}