.homework-component .main {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  z-index: 1;
  border-top: red;
  border-width: 20px;
  scroll-behavior: smooth;
  display: flex;
  flex-wrap: row-reverse nowrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  padding: 0px;
}

.homework-component .card-animation {
  animation-name: main, fadeIn;
  animation-duration: 2s, 2s;
  animation-delay: 0s, 2s;
  animation-direction: normal, alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: 1, infinite;
}

.homework-component .card-header-animation {
  animation-name: header;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    box-shadow: 0 0 10px 5px gray;
    z-index: 1;
    perspective: 100px;
  }
  50% {
    box-shadow: 0 0 25px 5px gray;
    z-index: 2;
    perspective: 200px;
  }
  100% {
    box-shadow: 0 0 40px 5px gray;
    z-index: 3;
    perspective: 300px;
  }
}

@keyframes header {
  0% {
    top: -1000px;
  }
  100% {
    top: 0px;
  }
}

@keyframes main {
  0% {
    top: -1000px;
  }
  100% {
    top: 0px;
  }
}

.homework-component .wrapper {
  z-index: 3;
  border-top: 10px rebeccapurple;
  background-color: rgb(255, 255, 240);
  padding-left: 2px;
  padding-top: 2px;
  margin-left: 10px;
  padding-right: 2px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0;
}

.homework-component .head {
  background-color: #12475f;
  color: white;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.homework-component .text {
  text-align: justify;
  text-decoration: none;
  line-height: 25px;
  text-indent: 20px;
}

.homework-component .input {
  border-top: none;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
}

/* .homework-component .wrapper p::first-letter {
    font-size: 2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
} */

.homework-component .loading {
  width: 55px;
  height: 36px;
  margin-left: 10px;
  position: relative;
}

.homework-component .loading div {
  float: left;
  width: 10px;
  height: 20px;
  top: 8px;
  position: absolute;
  background-color: red;
  animation-name: loading-divs;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.homework-component .loading div:nth-child(1) {
  top: 8px;
  left: 2px;
  animation-delay: 0s;
}

.homework-component .loading div:nth-child(2) {
  background-color: black;
  top: 8px;
  left: 14px;
  height: 20px;
  animation-delay: 0.2s;
}

.homework-component .loading div:nth-child(3) {
  left: 27px;
  animation-delay: 0.4s;
}

@keyframes loading-divs {
  0% {
    top: -4px;
    height: 40px;
  }
  50%,
  100% {
    top: 8px;
    height: 20px;
  }
}

.homework-component .text-box {
  outline: 0px solid transparent;
  direction: rtl;
  text-decoration: none;
  text-emphasis: none;
  text-decoration-style: none;
  text-decoration-color: aliceblue;
  unicode-bidi: embed;
}

.homework-component .text-box:active,
.text-box:focus {
  outline: none;
  text-decoration: none;
}

.homework-component *[dir="rtl"] {
  direction: rtl;
  unicode-bidi: embed;
  text-align: right;
}

.homework-component .side-bar {
  text-align: center;
  font-size: 4vh;
  font-family: sans-serif;
  cursor: pointer;
  /* height: 100vh; */
  background: white;
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 40px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 30px
    );
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  border-top-right-radius: 70px;
}

.homework-component .side-bar > .aside > div {
  border-bottom: 1px solid white;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  padding-top: 8px;
  margin-top: 2px;
}

.homework-component .side-bar > .aside > div:hover {
  background-color: white;
}

.homework-component .content {
  flex: 4;
  background-color: #282c34;
  background-image: linear-gradient(
      90deg,
      transparent 20px,
      #abced4 20px,
      #abced4 20px,
      transparent 22px
    ),
    linear-gradient(rgba(255, 250, 245, 0.1) 0.01em, transparent 0.1em);
  background-position: 10px 0px;
  background-size: 100% 1.2em;

  display: flex;
  justify-content: center;
}

.homework-component .box {
  box-shadow: 0px 1px 10px 0 black;
  padding: 5%;
  padding-top: 2%;
  margin: 5% 5% 5%;
  border-radius: 10px;
  color: white;
  background-color: transparent;
  /* min-height: 200px; */
  /* max-height: 400px; */
  width: 100%;
  flex: 1;
}

.homework-component .doc {
  font-size: 2em;
  cursor: pointer;
  border-radius: 10px;
  padding-bottom: 2px;
  padding-left: 1px;
  border-bottom: 1px solid white;
  text-decoration: none;
}

.homework-component .aside {
  position: relative;
  padding-top: 60px;
}

.homework-component .aside > p {
  position: absolute;
  top: 10px;
  font-size: 25px;
  color: white;
}

.homework-component .aside > p > span {
  position: absolute;
  top: 8px;
  left: 80px;
}

@media (max-width: 600px) {
  .homework-component .content {
    flex: 6;
    max-height: 500px;
  }
  .homework-component .side-bar {
    max-width: 100px;
    flex: 1;
    font-size: 2vh;
  }
}
