.home-component .container-made {
    min-height: 100vh;
    width: 100%;
    background-color: #282c34;
}

.home-component .welcome-wrapper{
    width: 100%;
}

.home-component .te {
    padding-top: 20px;
    cursor: default ;
    -webkit-flex: 1;
    flex: 1;
    direction: ltr;
    align-items: center;
    font-size: 2.5vw;
    font-family: sans-serif;
}

.home-component .te > span {
    color: orange;
    padding-right: 2px;
}

.home-component .right-link {
    -webkit-flex: 1;
    flex: 1;
    border-radius: 10px;
    font-size: 2.5vw;
    padding-left: 40px;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

.home-component .left-link{
    -webkit-flex: 1;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    font-size: 2.5vw;
    border-radius: 10px ;
    background-color: transparent;
    cursor: pointer;
    color: white;  
    padding-left: 40px;
}

.home-component .bracket {
    color: white;
    margin-top:'10px';
    
    font-size: 2.5vw;
    font-style: bold;
    font-family: sans-serif;
    -webkit-flex: 1;
    flex: 1;
    padding-left: 5px; 
    order: 1;
}

.home-component .nopadding {
    padding: 0 !important;
    margin: 0 !important;
} 

.home-component .menu {
    background-color: gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 11px;
    position: relative;
}

.home-component .exit {
    position: absolute;
    top: 0px ;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 12px;
    margin-left: 10px;
    cursor: pointer;
}

.home-component .minimum {
    position: absolute;
    top: 0px ;
    width: 10px;
    height: 10px;
    background-color: yellow;
    border-radius: 12px;
    margin-left: 26px;
}

.home-component .maximum {
    position: absolute;
    top: 0px ;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 12px;
    margin-left: 42px;
}

.home-component .right-link span {
    color: orange;
    padding-right:2px ;
}

.home-component .left-link span {
    color: orange;
    padding-right: 2px;
}

.home-component .editor {
    /* width: 100%; */
    /* display: block; */
    margin-top: 10%;
    height: 100px;
    color: black;
    perspective: 100px;
}

.home-component .content-editable {
    padding: 5px;
    border: 1px solid gray;
    min-height: 100px;
    outline: 0px solid transparent;
    color: white;
}

.home-component .content-editable span {
    color: orange;
}

.home-component .editor-header {
    background-color: gray;
    position: relative;
    display: block;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 10px;
}

.home-component .content-editable font {
    color: purple;
}

.home-component .icon {
    float: left;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
    cursor: pointer;
    color: white;
}

.home-component .icon:hover {
    border: 0.5px solid white;
}

.home-component .project-menu{
    overflow-y: scroll;
    height: 400px;
    overflow-x: scroll;
    border-bottom: 1px solid gray;
}
