.box{
    box-shadow: 5px 5px 10px 5px  rgb(243, 239, 232);
    padding: 1%;
    background-color: #2d132c;
}

.main {
    background-color: #282c34;
    min-height : 100vh ;
    width: 100%;
    padding-top: 5%;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 5%;
}